.Map {
    position: relative;
    width: 600px;
    height: 800px;
}

.Room {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: gray;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}

div {
    margin: auto;
}

.p100 {
    width: 50px;
    height: 20px;
    background-color: #ff0022;
}

.p75 {
    width: 50px;
    height: 20px;
    background-color: #ff7d22;
}

.p50 {
    width: 50px;
    height: 20px;
    background-color: #ffff55;
}

.p25 {
    width: 50px;
    height: 20px;
    background-color: #aaff55;
}

.p0 {
    width: 50px;
    height: 20px;
    background-color: #00ff55;
}